global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    default_backend app_backend

backend app_backend
    balance roundrobin
    server app1 tomcat1:8080 check
    server app2 tomcat2:8080 check

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
